@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #006d77;
    --secondary: #83c5be;
    --basic: #edf6f9;
    --stress: #e29578;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
